{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

    <div class="container-fluid hero mt-5">
        <div class="pt-4 container pb-5">
            <h1 class="display-1">What to watch next?</h1>
            <h2 class="mb-0 text-white-50">AI Powered site, we are here to give some cool movie recomendations.</h2>
            <h3 class="text-white-50">This site will help you cure your boredom.</h3>
        </div>

    </div>

    <div class="container">

      <div class="row mb-5">
        <div class="col-sm-3 fs-4">Enter A Movie You Like</div>
        <div class="col-sm-4 ">
            <form class="mt-2" action="/res" method="POST">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">*Case and Spell Sensitive <span class="text-danger">  {{ name0 }} </span> </label>
                  <input type="text" placeholder="Jab We Met" class="form-control mt-2 mb-3 " id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>  
    </div>

        <div class="row mb-5 ">
            <div class="col-sm-3  mt-2">
                <div class="card border-primary mb-3 text-white" style="height:100%;">
                    <div class="card-header border-white bg-primary ">BTS</div>
                    <div class="card-body bg-primary">
                      <h5 class="card-title fw-bold">Content Based Filter</h5>
                      <p class="card-text">Content-based filtering is a type of recommender system that attempts to guess what a user may like based on that user's activity. </p>
                    </div>
                  </div>

            </div>

            <div class="col-sm-3  mt-2">
                <div class="card border-primary mb-3"  style="height:100%;">
                    <div class="card-header text-primary">Status</div>
                    <div class="card-body text-primary"  >
                      <h5 class="card-title fw-bold">Beta</h5>
                      <p class="card-text">This site and its conents are under development. User is adviced. </p>
                    </br>
                    v1.01
                    </div>
                  </div>
            </div>         

        </div>

    </div>

{% endblock %}